body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark Cyberpunk Gradient */
  background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
  background-attachment: fixed; /* This ensures the background stays in place when scrolling */
  color: white; /* Set default text color to white for better contrast */
}

/* For the navbar */
.navbar {
  background: linear-gradient(90deg, #8a00ff, #0044ff);
  /* Additional styles for the navbar if needed */
}

/* For the bottom of the cards */
.card-footer {
  background: linear-gradient(90deg, #8a00ff, #0044ff);
  /* Additional styles for the card footer if needed */
}

#root {
  height: 100vh;
  overflow-y: scroll;
}
